.contact_theme_green {
    background: #1b1d24;
    padding-left: 130px;
    height: 100vh;

    .contact_content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;

        padding-left: 30px;
        padding-right: 30px;
        top: 50%;
        transform: translate(0, -50%);

        justify-content: space-between;

        .contact_form {
            //margin-right: 10px;
            .head_text {
                position: relative;
                left: -10px;
                margin-bottom: 40px;
                p {
                    color: #365a08;
                    font-weight: 600;
                    //margin-bottom: 40px;

                    position: static;
                    left: -10px;

                    em {
                        margin-left: 10px;
                        span {
                            transition: 0.5s;
                            font-size: 73px;
                            display: inline-block;
                            color: #365a08;
                            line-height: 73px;
                        }
                    }


                    .anim_text {
                        animation-name: text_anim;
                        animation-duration: 0.5s;
                        transform: scaleY(0.5);
                        color: #72eb3a;
                    }
                }
            }

            form {
                position: relative;

                li {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    margin-bottom: 10px;
                    //opacity: 0;
                    overflow: hidden;
                    display: block;
                    clear: both;
                    position: relative;
                    border: none;

                    label {
                        position: relative;
                        display: block;

                        &:after {
                            content: '';
                            position: absolute;
                            height: 2px;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background: #72eb3a;
                            transition: 0.3s;
                            transform: translateX(-100%);
                        }

                        &:focus-within {
                            &:after {
                                transition: 0.3s;
                                transform: translateX(0%);

                            }
                        }
                    }

                    input {
                        width: 100%;
                        border: 0;
                        background: #2b2b2b;
                        height: 50px;
                        font-size: 16px;
                        color: #8d8d8d;
                        padding: 0 20px;
                        box-sizing: border-box;
                        line-height: 1.15;
                        display: block;


                    }

                    textarea {
                        width: 865px;
                        border: none;
                        background: #2b2b2b;
                        height: 50px;
                        font-size: 16px;
                        color: #8d8d8d;
                        padding: 20px;
                        box-sizing: border-box;
                        line-height: 1.15;
                        min-height: 229px;
                        min-width: 865px;
                        max-width: 865px;
                    }


                }

                .half:first-child {
                    margin-left: 0;
                }

                .half {
                    width: 49%;
                    float: left;
                    margin-left: 2%;
                    clear: none;
                }
                div {
                    margin-top: 20px;

                    button {
                        border: 1px solid #72eb3a;
                        background: none;
                        position: relative;
                        overflow: hidden;
                        height: 50px;
                        width: 220px;
                        font-family: "Open Sans", sans-serif;
                        display: block;
                        clear: both;
                        float: left;

                        p {
                            z-index: 1;
                            position: relative;
                            color: #72eb3a;
                            margin: 0;
                            font-size: 17px;
                        }

                        &:hover p {
                            color: #1d1d1d;
                        }

                        .an {
                            z-index: 0;
                            position: absolute;
                            top: -35px;
                            left: -10px;
                            right: -10px;
                            bottom: -10px;
                            transform: translate(-106%, -20%) rotate(25deg);
                            background: #72eb3a;
                            transition-duration: 0.5s;


                        }

                        &:hover .an {
                            transform: translate(0, 0);
                        }
                    }
                }
            }


        }

        .text_zone {
            margin-left: 30px;
            .head_text {
                position: relative;
                margin-bottom: 40px;
                p {
                    color: #72eb3a;
                    font-weight: 600;
                    //margin: 0;
                    position: static;

                    em {
                        margin-left: 10px;

                        span {
                            transition: 0.5s;
                            font-size: 73px;
                            display: inline-block;
                            color: #72eb3a;
                            line-height: 73px;
                        }
                    }


                    .anim_text {
                        animation-name: text_anim;
                        animation-duration: 0.5s;
                        transform: scaleY(0.5);
                        color: #72eb3a;
                    }
                }
            }
            h4{
                color: #a5a5a5;
                font-size: 18px;

            }
            .cards{
                display: grid;
                grid-template-columns: 1fr 1fr;
                .card{
                    margin-left: 30px;
                    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
                    padding: 20px;
                    display: grid;
                    grid-template-rows: auto auto auto auto auto auto auto auto;
                    p{
                        color: #a3a3a3;
                        font-size: 18px;
                        margin-bottom: 17px;
                    }
                    em{
                        font-size: 16px;
                        margin-bottom: 9px;
                        color: #909096;
                        a{
                            color: #72eb3a;
                            opacity: 0.6;
                            transition-duration: 0.3s;
                        }
                        a:hover{

                            opacity: 1;
                        }
                    }
                }
            }

        }
    }
    .grid {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 1000px;
        height: 150px;
        //border: solid 1px black;
        margin-top: 100px;
        border: none;
    }

    .user {
        position: absolute;
        width: 100px;
        height: 5px;
        background-color: #909096;

        //box-shadow: 0 0 3px 0 rgb(253, 33, 85), 0 3px 4px 0 rgb(253, 33, 85), -1px 0 9px 0 rgb(253, 33, 85);
        border-radius: 5px;
    }

    .block {
        position: absolute;
        width: 100px;
        height: 20px;
        background-color: #2b2b2b;
        //box-shadow: 0 1px 3px -1px rgba(8, 253, 216, 0.81), -1px 3px 4px -1px rgba(8, 253, 216, 0.81), -1px 0 9px -1px rgba(8, 253, 216, 0.81);
        border-radius: 2px;
    }

    .ball {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background-color: #d2d2d2;
    }

}


@keyframes text_anim_theme_green {

    0% {
        transform: scaleY(1);

        //color: white;
    }
    25% {
        transform: scaleY(0.5);

    }
    50% {
        transform: scaleY(1.1);

    }
    100% {
        transform: scaleY(1);

    }

}


